[url "git@github.com:m5rk/"]
  insteadOf = "git://github.com/m5rk/"

[branch]
  autosetuprebase = always

[include]
  path = ~/.config/git/local/git-credentials

[alias]
  ap = add --patch
  br = branch
  c = commit -m
  ci = commit
  co = checkout
  cop = checkout --patch
  cp = cherry-pick
  d = diff
  dc = diff --cached
  fa = fetch --verbose --prune --all
  fo = fetch --verbose --prune origin
  l = log
  put = push origin HEAD -u
  rbc = rebase --continue
  rbi = rebase --interactive
  rbs = rebase --skip
  rh = reset --hard
  reauth = commit --amen --reset-author -CHEAD
  s = status
  st = status

  bn = !"git name-rev HEAD --name-only | tr -d \"\n\" | pbcopy && echo $(git name-rev HEAD --name-only)"
  delete-merged = !sh -c '(git fetch -p && git branch --merged | grep -v "\\*" | grep -v 'master' | grep -v 'develop' | xargs -n1 git branch -d)' -
  sha = !"git rev-parse HEAD | tr -d \"\n\" | pbcopy && echo $(git rev-parse HEAD)"

[interactive]
  singlekey = true

[push]
  default = simple

[core]
  excludesfile = /Users/markmceahern/.gitignore_global
[rebase]
  autosquash = true
[merge]
  tool = araxis
