[url "git@github.com:m5rk/"]
	insteadOf = "git://github.com/m5rk/"

[branch]
	autosetuprebase = always

[include]
	path = ~/.config/git/local/git-credentials

[alias]
	ap = add --patch
	c = commit -m
	co = checkout
	cop = checkout --patch
	dc = diff --cached
	d = diff
	fo = fetch --verbose --prune origin
	l = log
	put = push origin HEAD -u
	reauth = commit --amen --reset-author -CHEAD
	s = status
	st = status
	br = branch

[interactive]
	singlekey = true
